<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
    <!--
        $Id$

        Copyright (c) 2004. Members of the EGEE Collaboration.
        http://www.eu-egee.org org.glite.slcs.ui log4j configuration

        NOTICE: log4j.xml file must be in classpath
    -->
<log4j:configuration debug="false"
    xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- stdout appender -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %C{1}.%M: %m%n" />
        </layout>
    </appender>
    <!-- stderr appender -->
    <appender name="stderr" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %C{1}.%M: %m%n" />
        </layout>
    </appender>

    <!-- PEPClient logger -->
    <logger name="org.glite.authz">
        <level value="debug" />
    </logger>

    <!-- VOMS API logger -->
    <logger name="org.glite.voms">
        <level value="warn" />
    </logger>

    <!-- HttpClient logger -->
    <logger name="org.apache.commons.httpclient">
        <level value="warn" />
    </logger>
    <logger name="httpclient">
        <level value="info" />
    </logger>
    <logger name="httpclient.wire">
        <level value="info" />
    </logger>

    <!-- root logger level -->
    <root>
        <priority value="info" />
        <!--  <appender-ref ref="logfile" /> -->
        <appender-ref ref="stdout" />
    </root>

</log4j:configuration>
